@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: dimgray;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: 30px;
    color: ivory;
}

.numbers {
    position: absolute;
    left: 45%;
    transform: translate(-50%, 0);
}

button {
    width: 10vh;
    height: 12vh;
    border-radius: 4px 4px 4px 4px;
    font-size: 10vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    outline: none;
    transition: all 0.3s ease;

}

button:hover {
    cursor: pointer;
    background: #cdf4f7;
}

#output {
    text-align: center;
    padding-top: 6vh;
}

#r {
    font-size: 5vh;
    background-color: lavender;
}

input {
    text-align: center;
}

#erg {
    background-color: #9f9ff8;
}

#reset {
    position: fixed;
    width: 10vh;
    height: 7vh;
    left: 42.5vh;
    top: 4.5vh;
    border-radius: 3px 3px 3px 3px;
    font-size: 1.5vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    outline: none;
}

#remove {
    position: fixed;
    left: 32vh;
    font-size: 3.3vh;
}

#plus, #mal {
    position: fixed;
    left: 32vh;
}

#n1, #n2 {
    position: fixed;
    left: 42.5vh;
}
